.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.admin-settings-box {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border: 2px solid gray;
    border-radius: 20px;
    width: 80%;
    align-items: center;
}

.settings-form-control {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.settings-form-label {
    font-size: 20px;
    margin: 1px;
    column-gap: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}
