.login-header {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .login-pane{
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /*display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.3); 
  }
  
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  
  }
  
  .login-form {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    
  }
  
  .user-field {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  
  .password-field {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  
  .login-button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #282c34;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #61dafb;
  }
  
  .sign-up-button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #282c34;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sign-up-button:hover {
    background-color: #61dafb;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
  }
  
  
  .hospital-logo {
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-modal {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition:cubic-bezier(1, 0, 0, 1);
  }

  .back-btn {
    text-align: center;
  }