 .login-title {
    margin: 10px 0;
    font-size: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .master-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -4vh;
  }

  .login-title2 {
    font-size: 8vh;
    margin: 1vh 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-title3 {
    font-size: 8vh;
    margin: 1vh 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .login-pane {
    width: 120%;
    max-width: 500px;
    max-height: 810px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #B5D333;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  }

  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px); /* Adjust "60px" to the height of your navbar */
    padding: 0;
    margin-top: -2vh; /* Adjust "60px" to the height of your navbar */
    margin-bottom: 0;
    flex-wrap: wrap;
    overflow: hidden; /* Add this line */
  }
  
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .doctor-img2 {
    width: 65%;
    height: 65%;
    margin-left: 9.5vh;
  }
  
  .login-form {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    
  }
  
  .user-field {
    width: 100%;
    margin: 10px 0;
  }
  
  .login-button {
    font-size: 20px;
    cursor: pointer;
    width: 100%;
  }

  .label {
    font-size: 0.9vw;
    font-family: 'Roboto', sans-serif;
    margin: 0.5vh 0.5vh;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
  }
  
  .hospital-logo {
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-div {
    display: flex;
    flex-direction: column;
  }

  .name-label-div {
    display: flex;
    justify-content: center;
  }

  .form-and-names-container {
    display: flex;
    justify-content: center; /* Centers items along the horizontal line */
    align-items: center; /* Centers items along the vertical line */
  }

  .form-group-container {
    margin-left: 25px;
    margin-top: -10px;
  }

  .modal-new-patient1 {
    margin-top: 1vh;
  }

  .modal-new-patient2 {
    font-size: 50px;
  }

  .modal-container-newpatient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 500px;
    height: 940px;
}