.header-title {
    color: #3ab149;
    margin: 0px 600px 0px 0px; 
    text-align: left;
    max-width: 60%;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.welcome {
    color: #3ab149;
    margin: 0px 350px 0px 0px; 
    text-align: right;
    font-size: 20px;
    max-width: 60%;  
    overflow: hidden;
    white-space: nowrap;
}

.logout-button {
    color: #3ab149;
    margin: 0px 0px 0px 0px; 
    text-align: right;
    font-size: 20px;
    max-width: 60%;  
    overflow: hidden;
    white-space: nowrap;
}