.header-title {
    color: #3ab149;
    margin: 0px 600px 0px 0px; 
    text-align: left;
    max-width: 60%;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.welcome {
    color: #3ab149;
    margin: 0px 350px 0px 0px; 
    text-align: right;
    font-size: 20px;
    max-width: 60%;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.logout-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}