.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-buttons {
    margin: 0 10px;
    background-color: #108942;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;
}

.nav-buttons:hover {
    background-color: #0a5a2c; 
}